footer {
    position: relative;
    bottom: 0;
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 1.25rem 1.75rem;
    font-size: .85em;
}

footer > article {
    max-width: 1755px;
    margin: auto;
}

footer > article#info > section {
    display: inline-block;
}

footer ul {
    padding-inline-start: 0;
}

footer ul > li {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    color: inherit;
}

footer ul > li > a {
    color: var(--color-white);
}

footer ul > li > .material-icons {
    font-size: inherit;
    margin-right: .75rem;
}