@import url('./header.css');
@import url('./footer.css');

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-transparent: transparent;
    --color-light: #ADADAD;
    --color-light-active: #EBEBEB;
    --color-light-inactive: #A3A3A3;
    --color-dark: #212121;
    --color-dark-active: #0A0A0A;
    --color-dark-idle: #3D3D3D;
    --color-dark-inactive: #5C5C5C;
    --color-cyber-grape-1: #4D3E73;
    --color-dark-blue-gray-1: #636B9A;
    --color-periwinkle-crayola-1: #C0CCE1;
    --color-magnolia-1: #FBF6FB;
    --font-display: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --header-navbar-height: 64px;
}

html > * {
    font-family: var(--font-display);
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

html:not([theme=dark]) > * {
    color: var(--color-black);
}

body {
    background-color: var(--color-light-active);
}

main {
    max-width: 1755px;
    margin: auto;
    padding: 1.25rem 1.75rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
    text-transform: uppercase;
    height: 36px;
    display: inline-flex;
    padding: 0 16px;
    border-radius: 4px;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .0892857143em;
    line-height: 2.25rem;
    outline: none;
    border: none;
    background-color: var(--color-cyber-grape-1);
    color: var(--color-white);
}