header {
    height: var(--header-navbar-height);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-dark);
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%)
}

header a:visited {
    color: unset;
}

header > nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 1.75rem;
    width: 100%;
    max-width: 1755px;
    margin: auto;
}

header > nav > .nav-menu > .nav-item {
    position: relative;
    color: var(--color-light);
    line-height: var(--header-navbar-height);
    padding: 0 .5rem;
    background-color: var(--color-transparent);
    display: inline-flex;
    will-change: color;
    transition: color .25s;
}

header > nav > .nav-item:hover {
    color: var(--color-light-active);
}

header > nav > .nav-menu > .nav-item > .indicator {
    position: absolute;
    border: 2px solid var(--color-transparent);
    width: 100%;
    left: 0;
    bottom: 0;
}

header > nav > .nav-menu > .nav-item.active > .indicator {
    border: 2px solid var(--color-white);
    background-color: var(--color-white);
}

header > nav > .nav-menu > .nav-item.active {
    color: var(--color-white);
}